* text=auto

*.import eol=lf
*.cs eol=lf
*.gd eol=lf
*.cfg eol=lf
*.csv eol=lf
*.md eol=lf
*.json eol=lf
*.yml eol=lf
*.sln eol=lf
*.csproj eol=lf
*.tres eol=lf
*.gdshader eol=lf
*.tscn eol=lf
*.gltf eol=lf
project.godot eol=lf

# Prevent Git from treating binary files as text
*.png binary
*.aseprite binary
*.wav binary
*.mp3 binary
*.ogg binary
