# production ignores
roughdraft
.app_config/
connection/
086_hdrmaps_com_free.exr

# godot ignores
.import/
export.cfg
ecport_presets.cfg
release/

# Imported transaltions
*.translation

# mac ignores
.DS_Store
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes
*.pyc
*.out
venv
node_modules
.sass-cache

# windows ignores
*.com
# *.dll
*.exe


docs/idea*
releases/
*.tmp
movies/
.env